<section class="container mt-5">
  <div class="mx-auto d-flex justify-content-evenly flex-wrap">
      <!-- formulario -->
      <div class="text-center border p-5 rounded " style="width: 50rem">
        <!-- <div class="m-4" style="width: 18rem"> -->
          <!-- <div class="form-control input-lg"> -->
            <form #productForm="ngForm" *ngIf="load==true">
              <h2 class="text-center mb-4 form-title2 p-2 fw-bold">Crear / Actualizar Producto</h2>
              <div class="mt-3">
                <input type="hidden" name="_id" #_id="ngModel" [ngModel]="productsService.selectedProduct._id">
                <div class="">
                  <label class="form-label form-title mb-3 mt-3 h4">Nombre del Producto:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="text" name="name" #name="ngModel" [ngModel]="productsService.selectedProduct.name" placeholder="Ingresa el Nombre del Producto"/>
                 <label class="form-label mb-3 mt-1 h4 form-title">Precio:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="number" name="price" #price="ngModel" [ngModel]="productsService.selectedProduct.price" placeholder="Ingresa el Precio del Producto"/>
                 <label class="form-label mb-3 mt-1 h4 form-title">Descripción:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="text" name="description" #description="ngModel" [ngModel]="productsService.selectedProduct.description" placeholder="Ingresa la descripción del Producto"/>
                 <label class="form-label mb-3 mt-1 h4 form-title">Stock:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="number" name="stock" #stock="ngModel" [ngModel]="productsService.selectedProduct.stock" placeholder="Ingresa cantidad en stock"/>
                 <label class="form-label mb-3 mt-1 h4 form-title">Imágen:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="text" name="image" #image="ngModel" [ngModel]="productsService.selectedProduct.image" placeholder="Ingresa la URL de la imágen del Producto"/>
                 <label class="form-label mb-3 mt-1 h4 form-title">Categoría:</label>
                 <input class="col-12 mb-3 border-0 border-bottom" type="text" name="category" #image="ngModel" [ngModel]="productsService.selectedProduct.category" placeholder="Ingresa la categoría del Producto"/>
                </div>
                
                  <div class="input-field">
                    <a class="btn left btn-success mt-2 me-3" style="cursor: pointer;" (click)="addProduct(productForm)">Guardar</a>
                    <a class="btn right btn-primary mt-2 ms-3" (click)="resetForm(productForm)">Limpiar</a>
                  </div>
               
              </div>
            </form>
      </div>
    
  </div>

  <div class="m-5 mx-auto d-flex justify-content-center flex-wrap">
    <label for="" class="me-3 pt-2">Ver el listado de productos:</label>
    <a routerLink="/admin-products/list" href="" class="btn btn-primary">Listado de productos</a>
  </div>
</section>



<!-- Prueba de tarjetas -->

<div class="banner-nav2 bike pt-3 p-1 mb-3 mt-4">
  <p> Preview de Productos</p>
</div>

<div class="d-flex justify-content-center container flex-wrap" *ngIf="load==true">
<div *ngFor="let product of productsService.products.products" class="card m-4" style="width: 18rem">
  <img
    src="{{product.image}}"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">
      <b>{{ product.name }} </b>
    </h5>
    <h6>
      <p class="card-text"><b>Nombre del Producto :</b> {{ product.name }}</p>
      <p class="card-text">
        <b>Precio: {{ product.price }}</b>
      </p>
      <p class="card-text"><b>Descripción: </b>{{ product.description }}</p>
      <p class="card-text text-center"><b>Disponibles: </b>{{ product.stock }}
      <a (click)="editProduct(product)">
        <i class="material-icons" style="color:rgb(0, 89, 255); cursor: pointer;">edit</i>
      </a>
      <a (click)="deleteProduct(product._id)">
          <i class="material-icons" style="color:rgb(231, 65, 65); cursor: pointer;">delete</i>
        </a>
      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="productsService.selectedProduct._id">
    </p>
    </h6>
  </div>
</div>
</div>



<!-- <div class="d-flex flex-wrap justify-content-center" id="charsContainer"></div> -->
<!-- Para hacer tarjetas -->

<!-- name = 'Juan';
 lastName = 'Suarez';
 username = 'JuanA';
 email = 'test@mail.com';
 role = 'client';
 fechaCreacionUsuario = '2022-07-19T03:07:38.656Z';
  updatedAt = '2022-07-20T00:09:03.645Z';
  isActive = 'true';
 _id = '62d61ffa41eb7498f254d263'; -->
