<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 text-center form">
      <div class="m-4">
        <div class="form-control input-lg">
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            <div class="row mt-3">
              <p class="display-6 nav-link tituloc" *ngIf="_id.value == ''">
                Crear Usuario
              </p>
              <p class="nav-link tituloc" *ngIf="_id.value != ''">
                Editar Usuario
              </p>
              <input
                type="hidden"
                name="_id"
                #_id="ngModel"
                [(ngModel)]="usersService.selectedUser._id"
              />
              <div class="col-12">
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="name"
                  #name="ngModel"
                  [ngModel]="usersService.selectedUser.name"
                  placeholder="Ingresa tu Nombre"
                />
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="lastName"
                  #lastName="ngModel"
                  [ngModel]="usersService.selectedUser.lastName"
                  placeholder="Ingresa tu Apellido"
                />
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="email"
                  #email="ngModel"
                  [ngModel]="usersService.selectedUser.email"
                  placeholder="Ingresa tu email"
                />
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="role"
                  #role="ngModel"
                  [ngModel]="usersService.selectedUser.role"
                  placeholder="Ingresa tu Rol"
                />
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="tel"
                  #role="ngModel"
                  [ngModel]="usersService.selectedUser.tel"
                  placeholder="Ingresa tu Telefono"
                />
                <input
                  class="col-12 mb-3 border-0 border-bottom font"
                  type="text"
                  name="document"
                  #role="ngModel"
                  [ngModel]="usersService.selectedUser.document"
                  placeholder="Ingresa tu Cedula"
                />

                <!--             <input class="col-12 mb-3 border-0 border-bottom" type="text" name="password" #password="ngModel" [(ngModel)]="usersService.selectedUser.password" placeholder="Ingresa tu contraseña"/>
                 <input class="col-12 mb-3 border-0 border-bottom" type="text" name="confirmPassword" #password="ngModel" [(ngModel)]="usersService.selectedUser.confirmPassword" placeholder="Confirma tu contraseña"/> -->
              </div>
              <div class="action">
                <div class="input-field col-12">
                  <button class="btn btn-primary m-2">Guardar</button>
                  <button
                    class="btn btn-primary m-2"
                    (click)="resetForm(userForm)"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 table-responsive text-center font form2">
      <table class="table table-striped table-hover table-bordered">
        <thead class="bg align-middle text-center">
          <th class="px-2 py-3">Nombre</th>
          <th class="px-2 py-3">Apellido</th>
          <!--             <th>Usuario</th> -->
          <th class="px-2 py-3">Email</th>
          <th class="px-2 py-3">Rol</th>
          <th class="px-2 py-3">Acción</th>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let user of usersService.users.user">
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <!--               <td>{{ user.username }}</td> -->
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td class="d-flex flex-nowrap">
              <a (click)="editUser(user)">
                <i
                  class="material-icons"
                  style="color: rgb(0, 89, 255); cursor: pointer"
                  >edit</i
                >
              </a>
              <a (click)="deleteUser(user._id)">
                <i
                  class="material-icons"
                  style="color: rgb(172, 55, 75); cursor: pointer"
                  >delete</i
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
