<!-- <p>navbar works!</p> -->
<section class="sticky-top">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light d-flex p-0">
    <a class="navbar-brand ms-5 p-0" href="/home"
      ><img src="../../../assets/logos/MediByte2.png" alt="logo" width="170px"
    /></a>
    <button
      class="navbar-toggler me-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse ms-4 me-4 links-navbar pt-3 pb-2 justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav ms-auto" *ngIf="!usersService.loggedIn()"> <!-- ; else userLogged -->

        <a class="nav-link underline" aria-current="page" href="/home"
          >Inicio</a>
        <a class="nav-link underline" onclick="window.scrollTo( 0, 550);">Nosotros</a>
        <a class="nav-link underline" onclick="window.scrollTo( 0, 1600);" >Servicios</a>
        <a class="nav-link underline me-3" onclick="window.scrollTo( 0, 3500);">Contacto</a>
        <a class="nav-link navbar-btn text-center me-1" href="/signup"
          >Registrarse</a
        >
        <a class="nav-link navbar-btn text-center" href="/login"
          >Iniciar Sesión</a
        >
      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'cliente'" >
        <div class="navbar-nav ms-auto">
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 550);">Nosotros</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 1600);" >Servicios</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 3500);">Contacto</a>
          <a class="nav-link underline" aria-current="page" href="/productos">Productos</a>
          <a class="nav-link underline" aria-current="page" href="/citas">Citas</a>
          <a class="nav-link underline" aria-current="page" href="/pqrs">PQRS</a>
          <a class="nav-link underline " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>


      <div *ngIf="this.usersService.decodeToken().data.role === 'SuperAdmin'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" href="/admin-products">Administrar Productos</a>
          <a class="nav-link underline" href="/adminpanel">Admin Panel</a>
          <a class="nav-link underline " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>


      <div *ngIf="this.usersService.decodeToken().data.role === 'AdminPQRS'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" aria-current="page" href="/pqrs">Menú PQRS</a>
          <a class="nav-link underline " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'AdminProductos'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" href="/admin-products">Administrar Productos</a>
          <a class="nav-link underline" aria-current="page" href="/productos">Productos</a>
          <a class="nav-link underline " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>


      <div *ngIf="this.usersService.decodeToken().data.role === 'Medico'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" aria-current="page" href="/Admin-citas">Administrar Citas</a>
          <a class="nav-link underline" aria-current="page" href="/productos">Productos</a>
          <a class="nav-link underline " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>
    </div>
  </nav>
</section>
