<!-- <p>navbar works!</p> -->
<section class="sticky-top">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light d-flex p-0">
    <a class="navbar-brand ms-5 p-0" href="/home"
      ><img src="../../../assets/logos/MediByte2.png" alt="logo" width="170px"
    /></a>
    <button
      class="navbar-toggler me-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse ms-4 me-4 links-navbar pt-3 pb-2 justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav ms-auto" *ngIf="!usersService.loggedIn()"> <!-- ; else userLogged -->

        <a class="nav-link underline" aria-current="page" href="/home"
          >Inicio</a>
        <a class="nav-link underline" onclick="window.scrollTo( 0, 550);">Nosotros</a>
        <a class="nav-link underline" onclick="window.scrollTo( 0, 1600);" >Servicios</a>
        <a class="nav-link underline" onclick="window.scrollTo( 0, 3500);">Contacto</a>
        <a class="nav-link underline me-3" aria-current="page" href="/tienda">Tienda</a>
        <a class="nav-link navbar-btn text-center me-1" href="/signup"
          >Registrarse</a
        >
        <a class="nav-link navbar-btn text-center" href="/login"
          >Iniciar Sesión</a
        >
      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'cliente'" >
        <div class="navbar-nav ms-auto">

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Inicio
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="#">Nosotros</a></li>
                      <li><a class="dropdown-item" href="#">Servicios</a></li>
                      <li><a class="dropdown-item" href="#">Contacto</a></li>
                      <li> <a class="dropdown-item" href="/tienda">Tienda</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
    <!--      <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 550);">Nosotros</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 1600);" >Servicios</a>
          <a class="nav-link underline" onclick="window.scrollTo( 0, 3500);">Contacto</a> -->
          <a class="nav-link underline" aria-current="page" href="/admin-products">Productos</a>
          <a class="nav-link underline" aria-current="page" href="/citas">Citas</a>
          <a class="nav-link underline" aria-current="page" href="/form-citas">Citas</a>
          <a class="nav-link underline" aria-current="page" href="/tienda">Tienda</a>
          <a class="nav-link underlineA " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>


      <div *ngIf="this.usersService.decodeToken().data.role === 'SuperAdmin'" >



        <div class="navbar-nav ms-auto">
          <!-- <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a> -->

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vistas Usuario
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/citas">Citas</a></li>
                  <li><a class="dropdown-item" href="/tienda">Tienda</a></li>
                  <li><a class="dropdown-item" href="/signup">Registro</a></li>
                  <li><a class="dropdown-item" href="/home">Inicio</a></li>
                  <!-- <li> <a class="dropdown-item" href="/tienda">Tienda</a></li> -->
                </ul>
              </li>
            </ul>
          </div>
          <a class="nav-link underline" href="/admin-products">Gestión Productos</a>
          <a class="nav-link underline" href="/adminpanel">Gestión Usuarios</a>
          <a class="nav-link underline" aria-current="page" href="/form-citas">Gestión Citas</a>
          <a class="nav-link underline" aria-current="page" href="/pqrs">Gestión PQRS</a>
          <a class="nav-link underlineA " aria-current="page" >Hola SuperAdmin {{ this.usersService.decodeToken().data.name }} !</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>
      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'AdminPQRS'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-15" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" aria-current="page" href="/pqrs">Menú PQRS</a>
          <a class="nav-link underlineA " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'AdminProductos'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" aria-current="page" href="/tienda">Tienda</a>
          <a class="nav-link underline" href="/admin-products">Administrar Productos</a>
          <a class="nav-link underlineA " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>

      <div *ngIf="this.usersService.decodeToken().data.role === 'Medico'" >

        <div class="navbar-nav ms-auto">
          <a class="nav-link underline me-10" aria-current="page">{{ this.usersService.decodeToken().data.role }}</a>
          <a class="nav-link underline" aria-current="page" href="/home">Inicio</a>
          <a class="nav-link underline" aria-current="page" href="/form-citas">Admin Citas</a>
          <a class="nav-link underline" aria-current="page" href="/productos">Productos</a>
          <a class="nav-link underlineA " aria-current="page" >Hola! {{ this.usersService.decodeToken().data.name }} {{ this.usersService.decodeToken().data.lastName }}</a>
          <a href="" class="nav-link underline" (click)="usersService.logOut()">Salir</a>
        </div>

      </div>
    </div>
  </nav>
</section>
