<div class="container col-sm-10 col-md-6 mt-5">
  <div class="row justify-content-center m-2">
    <h2 class="text-center mb-5">Datos del paciente</h2>
    <form
      class="d-flex row justify-content-center form-control p-4"
      (ngSubmit)="addCita(form)"
      #form="ngForm"
    >
      <!-- Datos Básicos -->
      <div class="d-flex row mb-4 p-0">
        <div class="mb-3 p-1 col-md-6">
          <label for="inputFirstName" class="form-label">Primer Nombre</label>
          <input
            type="email"
            class="form-control text-muted"
            id="inputFirstName"
            aria-describedby="emailHelp"
            value="{{ this.usersService.decodeToken().data.name }}"
            readonly="true"
            name="name"
            #name="ngModel"
            [ngModel]="this.usersService.decodeToken().data.name"
          />
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="exampleapellidos" class="form-label">Apellidos</label>
          <input
            type="email"
            class="form-control text-muted"
            id="exampleapellidos"
            aria-describedby="emailHelp"
            value="{{ this.usersService.decodeToken().data.lastName }}"
            readonly="true"
            name="lastName"
            #lastName="ngModel"
            [ngModel]="this.usersService.decodeToken().data.lastName"
          />
        </div>
      </div>

      <!-- Datos de contacto -->
      <div class="d-flex row mb-4 p-0">
        <div class="mb-3 p-1 col-md-6">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control text-muted"
            id="inputEmail"
            aria-describedby="emailHelp"
            value="{{ this.usersService.decodeToken().data.email }}"
            readonly="true"
            name="email"
            #email="ngModel"
            [ngModel]="this.usersService.decodeToken().data.email"
          />
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="inputPhoneNumber" class="form-label"
            >Documento de Identidad</label
          >
          <input
            type="number"
            class="form-control text-muted"
            id="inputDocument"
            value="{{ this.usersService.decodeToken().data.document }}"
            readonly="true"
            name="document"
            #document="ngModel"
            [ngModel]="this.usersService.decodeToken().data.document"
          />
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="inputPhoneNumber" class="form-label"
            >Número de Celular</label
          >
          <input
            type="number"
            class="form-control text-muted"
            id="inputPhoneNumber"
            value="{{ this.usersService.decodeToken().data.tel }}"
            readonly="true"
            name="tel"
            #tel="ngModel"
            [ngModel]="this.usersService.decodeToken().data.tel"
          />
        </div>
      </div>

      <!-- Dirección -->
      <div class="d-flex row mb-4 p-0">
        <div class="mb-3 p-1 col-md-6">
          <label for="inputAddress" class="form-label"
            >Dirección Principal</label
          >
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            name="address"
            #addres="ngModel"
            [ngModel]="this.clientService.client.address"
          />
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="inputAddress2" class="form-label"
            >Dirección Alternativa</label
          >
          <input
            type="text"
            class="form-control"
            id="inputAdressAlt"
            name="adressAlt"
            #addressAlt="ngModel"
            [ngModel]="this.clientService.client.adressAlt"
          />
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="inputDepartament" class="form-label">Departamento</label>
          <select
            id="inputDepartament"
            class="form-select"
            name="departament"
            #departament="ngModel"
            [ngModel]="this.clientService.client.departament"
          >
            <option selected *ngFor="let depart of departs">
              {{ depart }}
            </option>
          </select>
        </div>
        <div class="mb-3 p-1 col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="inputCity"
            name="city"
            #city="ngModel"
            ngModel=""
          />
        </div>
      </div>

      <!-- Datos de Consulta -->
      <div class="d-flex row mb-4 p-0">
        <div class="mb-3 p-1 col-md-6">
          <label for="inputPriorityType" class="form-label"
            >Tipo de Prioridad</label
          >
          <select
            id="inputPriorityType"
            class="form-select"
            name="priorityType"
            #priorityType="ngModel"
            [ngModel]="this.clientService.client.priorityType"
          >
            <option selected *ngFor="let type of tPriority">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="mb-3 p-1 col-md-6">
          <label for="inputValuationType" class="form-label"
            >Tipo de Valoración</label
          >
          <select
            id="inputValuationType"
            class="form-select"
            name="valuationType"
            #valuationType="ngModel"
            [ngModel]="this.clientService.client.valuationType"
          >
            <option selected *ngFor="let type of tValuation">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="mb-3 p-1 col-12">
          <label for="inputSymptom" class="form-label"
            >Describa sus síntomas de manera breve</label
          >
          <textarea
            class="form-control"
            id="inputSymptom"
            rows="3"
            name="symptom"
            #symptom="ngModel"
            [ngModel]="this.clientService.client.symptom"
          ></textarea>
        </div>
      </div>

      <!-- Fecha de Registro -->
      <div class="d-flex row mb-4 p-0">
        <div class="d-flex row mb-4 p-0">
          <label for="inputDate" class="form-label"
            >Seleccione el día de su consulta</label
          >
          <div class="wrapper-calendar calendar">
            <div class="header-calendar">
              <div>
                <a  (click)="changeMonth(-1)" class="btn-prev">
                  Antes
                </a>
              </div>
              <h6>{{ dateSelect | date: "MMMM, yyyy" }}</h6>
              <div>
                <a (click)="changeMonth(1)" class="btn-next">
                  Siguiente
                </a>
              </div>
            </div>
            <ol>
              <li *ngFor="let day of week" class="day-name">
                {{ day | slice: 0:3 }}
              </li>

              <li
                class="day-number"
                (click)="clickDay(day)"
                [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                *ngFor="let day of monthSelect; let first = first"
              >
                <span>{{ day?.value }}</span>
              </li>
            </ol>
          </div>

          <hr />
          <div class="col-6 d-flex row">
            <label class="col-2">Fecha:</label><!-- value="{{ dateValue }}" -->

            <input
              type="datetime"
              class="form-control text-muted col-3"
              value="{{ dateValue }}"
              id="exampleDate"
              name="date"
              #date="ngModel"
              [ngModel]="this.clientService.client.date"
            />
          </div>
        </div>
      </div>

      <div class="d-flex row mb-4 p-0">
        <button
          type="submit"
          class="btn btn-primary w-auto"
          (click)="(addCita)"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
