<!-- Inicio de footer --------------------------------------------------------------------------->
<footer
class="container-fluid d-flex bg-light border-top flex-wrap justify-content-around justify-content-lg-between align-items-center"
>
<div class="ms-5 me-5">
  <img src="assets/logos/MediByte2.png" alt="" width="200px" />
</div>

<div class="ms-5 me-5 text-center">
  <span class="text-muted">&copy; 2022 Medibyte.com</span>
  <br />
  <span class="text-muted">Todos los derechos reservados</span>
</div>

<div class="m-2 me-5 d-flex">
  <a href="https://www.twitter.com" class="ms-3 me-3" target="_blank"
    ><img src="assets/icons/twitter.png" alt="" width="30px"
  /></a>
  <a href="https://www.instagram.com" class="ms-3 me-3" target="_blank"
    ><img src="assets/icons/instagram.png" alt="" width="30px"
  /></a>
  <a href="https://www.Facebook.com" class="ms-3 me-3" target="_blank"
    ><img src="assets/icons/facebook.png" alt="" width="30px"
  /></a>
  <a href="https://api.whatsapp.com/send?phone=573142351240&text=Hola, gracias por contactar a Medibyte, cuéntanos en que te podemos ayudar?
  " class="ms-3 me-3" target="_blank"
    ><img src="assets/icons/whatsapp.png" alt="" width="30px"
  /></a>
</div>
</footer>
<!-- final de footer ------------------------------------------------------------------------->